.logotype3, .logotype3:hover {
	display: inline-block;
	font-size: 50px;
	line-height :50px;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	text-decoration:none;
}
.logotype3:hover {
	animation: blur1 1s ease-out;
}
@keyframes blur1 {
	from {
		text-shadow:0px 0px 10px #fff,
		0px 0px 10px #fff, 
		0px 0px 25px #fff,
		0px 0px 25px #fff,
		0px 0px 25px #fff,
		0px 0px 25px #fff,
		0px 0px 25px #fff,
		0px 0px 25px #fff,
		0px 0px 50px #fff,
		0px 0px 50px #fff;
	}
}
@keyframes blur2 {
	from {
		color: #337AB7 ;
	}
}
@media (max-width:600px) {
	.logotype3, .logotype3:hover {
		font-size: 40px;
		line-height: 40px;
	}
}